@font-face {
    font-family: adam;
    src: url(../fonts/ADAM.otf);
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /*flexbox for overall page children include header mainsection footer*/
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Montserrat', sans-serif;*/
    background-color: #f2f2f2;
    /*background-color: #fcfcfc;*/
    /*background-color: #F5F3EE;*/
    color: #474a41;
}


h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

.element {
    border-style: solid;
    border-color: yellow;
    border-width: 1px;
}

.invisible{
    display: none;
}



/*startPage Styling*/
#startPage{
    background-color: #474a41;
    color:#f2f2f2;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#startPage #title{
    color: #f2f2f2;
    text-align: center;
}

#instructions{
    flex:1;
}

#gamePage{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#title {
    font-family: adam;
    font-size: 4.5em;
    color: #474a41;
    text-align: right;
    padding: 0 1% 1% 1%;
}

.red {
    color: red;
}

.mainSection {
    /*allows the main section to take up all available space pushing footer to the bottom*/
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.timer {
    font-size: 1.5em;
    text-align: left;
    color: red;
    padding: 1% 0 1% 2%;
}

.questionSection {
    flex: .75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionText {
    font-size: 4em;
    text-align: center;
}

.answerSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 2;
}

.answer {
    width: 35%;
    font-size: 2em;
    margin: 2%;
    padding: 1%;
    display: flex;
    align-items: center;
    border-color: #474a41;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

#copyright {
    text-align: center;
    padding: .5% 0 .5% 0;
    font-size: .75em;
}
